@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --base-color : #1A2238;
  --primary-color : #9DAAF2;
  --section-color : #9DAAF2;
  --light-color : #ffffffd4;
  --dark-color : #000000d4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New';
}

.container-main{
  max-width: 900px;
  margin: auto;
}

body{
  background-color: var(--base-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-color : #1A2238;
    --primary-color : #9DAAF2;
    --section-color : #9DAAF2;
    --light-color : #ffffffd4;
    --dark-color : #000000d4;
    --text-highlight : #FF6A3D;
}
}
.bg-base{
background-color: var(--base-color);
}

.bg-primary{
  background-color: var(--primary-color);
}

.bg-section{
  background-color: var(--section-color);
}



.text-light{
  color: var(--light-color);
}
.text-dark{
  color: var(--dark-color);
}

.text-highlight{
  color: var(--text-highlight);
}
